In [ ]:
# How to Run Django in Jupyter Notebook
# https://www.youtube.com/watch?v=TN5zIA--cz4&ab_channel=TechSunami

In [1]:
import os
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
from django.db import connection
from django.db import reset_queries
from django.db import models
from django_orm_app.models import Author, Blog
from faker import Faker 
import random

In [2]:
def define_model(model):
    print(f"----------------- {model.__name__}-------------------")
    for field in model._meta.fields:
        print(f"{field.name} --> {field.get_internal_type()}")
    print('\033[1m' + f"Table name in database is {model._meta.db_table}" + '\033[0m')

In [3]:
define_model(Author)
define_model(Blog)

----------------- Author-------------------
id --> BigAutoField
name --> CharField
email --> CharField
age --> IntegerField
creation_date --> DateTimeField
updation_date --> DateTimeField
Table name in database is author_model
----------------- Blog-------------------
id --> BigAutoField
name --> CharField
author --> ForeignKey
time_to_read --> IntegerField
tagline --> TextField
creation_date --> DateTimeField
updation_date --> DateTimeField
Table name in database is blog_model

In [4]:
# fake = Faker()
# range_of_author_id = 100

In [5]:
# lst_author = []
# for _ in range(range_of_author_id):
#     lst_author.append(
#         Author(
#             name=fake.name(), 
#             age=random.randint(1,100)
#         )
#     )

In [6]:
# objs_author = Author.objects.bulk_create(lst_author)

In [7]:
# lst_blog = []
# for _ in range(10000):
#     lst_blog.append(
#         Blog(
#             name=fake.sentence(), 
#             tagline= fake.paragraph(), 
#             author_id=random.randint(1, 100)
#         )
#     )

In [8]:
# objs_blog = Blog.objects.bulk_create(lst_blog)

## Table of Content
1. [Method that return new Queryset](#3)
    1. [filter](#3.a) 
    2. [exclude](#3.b) 
    3. [annotate ](#3.c) 
    4. [order_by](#3.d) 
    5. [distinct](#3.e) 
    6. [values](#3.f) 
    7. [values_list](#3.g) 
    8. [all](#3.h) 
    9. [union](#3.i) 
    10. [intersection](#3.j) 
    11. [difference](#3.k) 
    12. [only](#3.l)
    13. [defer](#3.m)
    14. [select_for_update](#3.n)
    15. [raw](#3.o)

In [9]:
def get_query():
    return connection.queries

<a id="3"></a>
## Method that return new Queryset
Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#methods-that-return-new-querysets

<a id="3.a"></a>
### filter

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#filter <br>
All Field Lookup Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#field-lookups

In [10]:
objs = Author.objects.filter(age__gt = 90)

In [11]:
for obj in objs:
    print(obj.name, obj.age)

print(f"Query made is {get_query()[-1]}")

Kathleen Hess 114
Sarah Cunningham 100
Dustin Robinson 100
Austin Chang 95
Cynthia Stevens 94
Daniel Hansen 94
Kimberly Perez 95
Regina Rodriguez 99
Nicholas Taylor 98
Rebecca Johnson 95
Danielle Martin 91
Query made is {'sql': 'SELECT "author_model"."id", "author_model"."name", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date" FROM "author_model" WHERE "author_model"."age" > 90', 'time': '0.001'}

In [17]:
from django.db.models import Q
objs = Author.objects.filter(Q(name__contains = "S") & Q(age__gt = 90))

In [18]:
for obj in objs:
    print(obj.name, obj.age)

Kathleen Hess 114
Sarah Cunningham 100
Dustin Robinson 100
Austin Chang 95
Cynthia Stevens 94
Daniel Hansen 94
Nicholas Taylor 98
Rebecca Johnson 95

In [19]:
print(f"Query made is {get_query()[-1]}")

Query made is {'sql': 'SELECT "author_model"."id", "author_model"."name", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date" FROM "author_model" WHERE ("author_model"."name" LIKE \'%S%\' ESCAPE \'\\\' AND "author_model"."age" > 90)', 'time': '0.000'}

In [20]:
#Chaining of Filter
Blog.objects.filter(name__contains="dog").filter(author__age__lt = 50)

<QuerySet [<Blog: Participant specific even economic force cultural dog opportunity.>, <Blog: Party page media light dog.>, <Blog: Dog summer administration present sense.>, <Blog: Brother dog democratic beat yeah.>, <Blog: Dog begin head mention worry.>, <Blog: Dog rich leader build picture thought quickly.>, <Blog: Away dog hospital role.>, <Blog: Apply back whom central dog.>, <Blog: Bed case many dog social.>, <Blog: National without spring language service dog.>, <Blog: Dog side three guy stock writer.>, <Blog: Floor dog article finish office forward eight.>, <Blog: Pick former identify fly center decade dog opportunity.>, <Blog: Low summer sport up local hear recently dog.>, <Blog: Task discover dog factor mother.>, <Blog: Security usually maybe yard far produce dog thought.>, <Blog: Worry scene dog agent.>, <Blog: Bill production other dog.>, <Blog: Throughout century lose dog view than difference.>, <Blog: Risk someone dog finally party daughter.>, '...(remaining elements truncated)...']>

In [21]:
get_query()[-1]

{'sql': 'SELECT "blog_model"."id", "blog_model"."name", "blog_model"."author_id", "blog_model"."time_to_read", "blog_model"."tagline", "blog_model"."creation_date", "blog_model"."updation_date" FROM "blog_model" INNER JOIN "author_model" ON ("blog_model"."author_id" = "author_model"."id") WHERE ("blog_model"."name" LIKE \'%dog%\' ESCAPE \'\\\' AND "author_model"."age" < 50) LIMIT 21',
 'time': '0.001'}

<a id="3.b"></a>
### exclude

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#exclude

In [22]:
objs = Author.objects.exclude(age__lt = 90)

In [23]:
for obj in objs:
    print(obj.name, obj.age)

Kathleen Hess 114
Sarah Cunningham 100
Dustin Robinson 100
Austin Chang 95
Cynthia Stevens 94
Daniel Hansen 94
Kimberly Perez 95
Regina Rodriguez 99
Nicholas Taylor 98
Rebecca Johnson 95
Danielle Martin 91
Techsunami None
Techsunami None

In [24]:
print(f"Query made is {get_query()[-1]}")

Query made is {'sql': 'SELECT "author_model"."id", "author_model"."name", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date" FROM "author_model" WHERE NOT ("author_model"."age" < 90 AND "author_model"."age" IS NOT NULL)', 'time': '0.001'}

<a id="3.c"></a>
### annotate method
Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#update-or-create

In [27]:
from django.db.models import Count, Avg
objs = Author.objects.annotate(age_less_than_25 = Q(age__lt = 25))

In [28]:
for obj in objs[:10]:
    print(f"{obj.name} -- {obj.age_less_than_25} -- {obj.age}")

Kathleen Hess -- False -- 114
Heidi Davis -- False -- 36
Bryan Conner -- True -- 11
Eric Logan -- True -- 15
Sarah Cunningham -- False -- 100
Mrs. Tammy Elliott -- True -- 21
Stephanie Gardner -- False -- 33
Hector Johnson -- True -- 19
Katherine Payne -- False -- 33
Carlos Wolfe -- False -- 72

In [29]:
get_query()[-1]

{'sql': 'SELECT "author_model"."id", "author_model"."name", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date", "author_model"."age" < 25 AS "age_less_than_25" FROM "author_model" LIMIT 10',
 'time': '0.000'}

<a id="3.d"></a>
### order_by

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#order-by

In [31]:
objs = Author.objects.order_by("-age")

In [32]:
for obj in objs[:10]:
    print(obj.name, obj.age)

Kathleen Hess 114
Sarah Cunningham 100
Dustin Robinson 100
Regina Rodriguez 99
Nicholas Taylor 98
Austin Chang 95
Kimberly Perez 95
Rebecca Johnson 95
Cynthia Stevens 94
Daniel Hansen 94

In [33]:
get_query()[-1]

{'sql': 'SELECT "author_model"."id", "author_model"."name", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date" FROM "author_model" ORDER BY "author_model"."age" DESC LIMIT 10',
 'time': '0.001'}

<a id="3.e"></a>
### distinct

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#distinct

In [34]:
# It remove duplicate row from database
objs = Author.objects.distinct()

In [35]:
for obj in objs[:20]:
    print(obj.name, obj.age)

Kathleen Hess 114
Heidi Davis 36
Bryan Conner 11
Eric Logan 15
Sarah Cunningham 100
Mrs. Tammy Elliott 21
Stephanie Gardner 33
Hector Johnson 19
Katherine Payne 33
Carlos Wolfe 72
Mason Shaw 58
Brian Pham 76
Elizabeth Doyle 33
Charles Jackson 14
Lisa Cox 13
Julie Elliott 11
Anne Campbell 80
Dr. Diane Fletcher 39
Mary Robbins 10
Dustin Robinson 100

In [36]:
get_query()[-1]

{'sql': 'SELECT DISTINCT "author_model"."id", "author_model"."name", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date" FROM "author_model" LIMIT 20',
 'time': '0.001'}

<a id="3.f"></a>
### values

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#values

In [37]:
Author.objects.values()[:5]

<QuerySet [{'id': 1, 'name': 'Kathleen Hess', 'email': None, 'age': 114, 'creation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208582, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 8, 16, 43, 0, 198996, tzinfo=datetime.timezone.utc)}, {'id': 2, 'name': 'Heidi Davis', 'email': None, 'age': 36, 'creation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208636, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208647, tzinfo=datetime.timezone.utc)}, {'id': 3, 'name': 'Bryan Conner', 'email': None, 'age': 11, 'creation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208662, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208671, tzinfo=datetime.timezone.utc)}, {'id': 4, 'name': 'Eric Logan', 'email': None, 'age': 15, 'creation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208686, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208695, tzinfo=datetime.timezone.utc)}, {'id': 5, 'name': 'Sarah Cunningham', 'email': None, 'age': 100, 'creation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208710, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208718, tzinfo=datetime.timezone.utc)}]>

In [38]:
print(f"query is {get_query()[-1]}")

query is {'sql': 'SELECT "author_model"."id", "author_model"."name", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date" FROM "author_model" LIMIT 5', 'time': '0.001'}

In [39]:
Author.objects.values("name")

<QuerySet [{'name': 'Kathleen Hess'}, {'name': 'Heidi Davis'}, {'name': 'Bryan Conner'}, {'name': 'Eric Logan'}, {'name': 'Sarah Cunningham'}, {'name': 'Mrs. Tammy Elliott'}, {'name': 'Stephanie Gardner'}, {'name': 'Hector Johnson'}, {'name': 'Katherine Payne'}, {'name': 'Carlos Wolfe'}, {'name': 'Mason Shaw'}, {'name': 'Brian Pham'}, {'name': 'Elizabeth Doyle'}, {'name': 'Charles Jackson'}, {'name': 'Lisa Cox'}, {'name': 'Julie Elliott'}, {'name': 'Anne Campbell'}, {'name': 'Dr. Diane Fletcher'}, {'name': 'Mary Robbins'}, {'name': 'Dustin Robinson'}, '...(remaining elements truncated)...']>

In [40]:
print(f"query is {get_query()[-1]}")

query is {'sql': 'SELECT "author_model"."name" FROM "author_model" LIMIT 21', 'time': '0.001'}

In [42]:
from django.db.models import Count
Author.objects.all().values(blog_entry=Count("author_blog"))

<QuerySet [{'blog_entry': 112}, {'blog_entry': 122}, {'blog_entry': 108}, {'blog_entry': 87}, {'blog_entry': 102}, {'blog_entry': 97}, {'blog_entry': 102}, {'blog_entry': 111}, {'blog_entry': 89}, {'blog_entry': 109}, {'blog_entry': 73}, {'blog_entry': 87}, {'blog_entry': 102}, {'blog_entry': 91}, {'blog_entry': 90}, {'blog_entry': 99}, {'blog_entry': 86}, {'blog_entry': 96}, {'blog_entry': 98}, {'blog_entry': 95}, '...(remaining elements truncated)...']>

In [43]:
print(f"query is {get_query()[-1]}")

query is {'sql': 'SELECT COUNT("blog_model"."id") AS "blog_entry" FROM "author_model" LEFT OUTER JOIN "blog_model" ON ("author_model"."id" = "blog_model"."author_id") GROUP BY "author_model"."id", "author_model"."name", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date" LIMIT 21', 'time': '0.001'}

<a id="3.g"></a>
### values_list

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#values-list

In [44]:
Author.objects.values_list()[:5]

<QuerySet [(1, 'Kathleen Hess', None, 114, datetime.datetime(2023, 7, 8, 14, 45, 45, 208582, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 8, 16, 43, 0, 198996, tzinfo=datetime.timezone.utc)), (2, 'Heidi Davis', None, 36, datetime.datetime(2023, 7, 8, 14, 45, 45, 208636, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 8, 14, 45, 45, 208647, tzinfo=datetime.timezone.utc)), (3, 'Bryan Conner', None, 11, datetime.datetime(2023, 7, 8, 14, 45, 45, 208662, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 8, 14, 45, 45, 208671, tzinfo=datetime.timezone.utc)), (4, 'Eric Logan', None, 15, datetime.datetime(2023, 7, 8, 14, 45, 45, 208686, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 8, 14, 45, 45, 208695, tzinfo=datetime.timezone.utc)), (5, 'Sarah Cunningham', None, 100, datetime.datetime(2023, 7, 8, 14, 45, 45, 208710, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 8, 14, 45, 45, 208718, tzinfo=datetime.timezone.utc))]>

In [45]:
print(f"query is {get_query()[-1]}")

query is {'sql': 'SELECT "author_model"."id", "author_model"."name", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date" FROM "author_model" LIMIT 5', 'time': '0.001'}

In [46]:
Author.objects.values_list("name")

<QuerySet [('Kathleen Hess',), ('Heidi Davis',), ('Bryan Conner',), ('Eric Logan',), ('Sarah Cunningham',), ('Mrs. Tammy Elliott',), ('Stephanie Gardner',), ('Hector Johnson',), ('Katherine Payne',), ('Carlos Wolfe',), ('Mason Shaw',), ('Brian Pham',), ('Elizabeth Doyle',), ('Charles Jackson',), ('Lisa Cox',), ('Julie Elliott',), ('Anne Campbell',), ('Dr. Diane Fletcher',), ('Mary Robbins',), ('Dustin Robinson',), '...(remaining elements truncated)...']>

In [47]:
print(f"query is {get_query()[-1]}")

query is {'sql': 'SELECT "author_model"."name" FROM "author_model" LIMIT 21', 'time': '0.001'}

In [48]:
Author.objects.values_list("name", flat=True)

<QuerySet ['Kathleen Hess', 'Heidi Davis', 'Bryan Conner', 'Eric Logan', 'Sarah Cunningham', 'Mrs. Tammy Elliott', 'Stephanie Gardner', 'Hector Johnson', 'Katherine Payne', 'Carlos Wolfe', 'Mason Shaw', 'Brian Pham', 'Elizabeth Doyle', 'Charles Jackson', 'Lisa Cox', 'Julie Elliott', 'Anne Campbell', 'Dr. Diane Fletcher', 'Mary Robbins', 'Dustin Robinson', '...(remaining elements truncated)...']>

<a id="3.h"></a>
### all

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#all

In [49]:
Author.objects.all()

<QuerySet [<Author: Kathleen Hess>, <Author: Heidi Davis>, <Author: Bryan Conner>, <Author: Eric Logan>, <Author: Sarah Cunningham>, <Author: Mrs. Tammy Elliott>, <Author: Stephanie Gardner>, <Author: Hector Johnson>, <Author: Katherine Payne>, <Author: Carlos Wolfe>, <Author: Mason Shaw>, <Author: Brian Pham>, <Author: Elizabeth Doyle>, <Author: Charles Jackson>, <Author: Lisa Cox>, <Author: Julie Elliott>, <Author: Anne Campbell>, <Author: Dr. Diane Fletcher>, <Author: Mary Robbins>, <Author: Dustin Robinson>, '...(remaining elements truncated)...']>

In [50]:
print(f"query is {get_query()[-1]}")

query is {'sql': 'SELECT "author_model"."id", "author_model"."name", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date" FROM "author_model" LIMIT 21', 'time': '0.001'}

<a id="3.i"></a>
### union

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#union

In [51]:
qs1 = Author.objects.values_list("name")
qs2 = Author.objects.values_list("age")

In [52]:
qs1

<QuerySet [('Kathleen Hess',), ('Heidi Davis',), ('Bryan Conner',), ('Eric Logan',), ('Sarah Cunningham',), ('Mrs. Tammy Elliott',), ('Stephanie Gardner',), ('Hector Johnson',), ('Katherine Payne',), ('Carlos Wolfe',), ('Mason Shaw',), ('Brian Pham',), ('Elizabeth Doyle',), ('Charles Jackson',), ('Lisa Cox',), ('Julie Elliott',), ('Anne Campbell',), ('Dr. Diane Fletcher',), ('Mary Robbins',), ('Dustin Robinson',), '...(remaining elements truncated)...']>

In [53]:
qs2

In [54]:
for obj in qs1.union(qs2):
    print(obj)

(None,)
(1,)
(3,)
(4,)
(5,)
(6,)
(8,)
(10,)
(11,)
(13,)
(14,)
(15,)
(16,)
(18,)
(19,)
(21,)
(22,)
(23,)
(25,)
(27,)
(28,)
(31,)
(32,)
(33,)
(36,)
(37,)
(39,)
(40,)
(41,)
(43,)
(45,)
(51,)
(52,)
(53,)
(56,)
(57,)
(58,)
(60,)
(63,)
(64,)
(66,)
(67,)
(69,)
(70,)
(71,)
(72,)
(74,)
(76,)
(78,)
(80,)
(83,)
(86,)
(87,)
(89,)
(91,)
(94,)
(95,)
(98,)
(99,)
(100,)
(114,)
('Alexandra West',)
('Angela Potts',)
('Ann Lewis',)
('Anna Gibson',)
('Anne Campbell',)
('April Medina',)
('Austin Chang',)
('Brandi Alvarado',)
('Brandy Chapman',)
('Brian Navarro',)
('Brian Pham',)
('Bryan Conner',)
('Bryan Hays',)
('Cameron Carpenter',)
('Carlos Wolfe',)
('Carmen Smith',)
('Carrie Thompson',)
('Catherine Gonzales',)
('Charles Jackson',)
('Chelsea Johnson',)
('Chelsey Carey',)
('Christine Richards',)
('Christopher Jones',)
('Curtis Mueller',)
('Cynthia Brown',)
('Cynthia Stevens',)
('Daniel Anderson',)
('Daniel Hansen',)
('Danielle Martin',)
('Deborah Roy',)
('Derek Reeves',)
('Devon Warner',)
('Douglas Hernandez',)
('Dr. Diane Fletcher',)
('Dustin Robinson',)
('Edward Shaw',)
('Elizabeth Doyle',)
('Eric Logan',)
('Eric Whitehead',)
('Gary French',)
('Heather Brown',)
('Hector Johnson',)
('Heidi Davis',)
('Jennifer Bowman',)
('Jennifer Ray',)
('Jeremy Pope',)
('Julie Elliott',)
('Katherine Payne',)
('Kathleen Hess',)
('Kimberly Perez',)
('Kyle Jones',)
('Kyle Rodgers',)
('Lisa Adams',)
('Lisa Baker',)
('Lisa Cox',)
('Margaret Mccoy',)
('Mark Crawford',)
('Mark Thomas',)
('Mary Collins',)
('Mary Robbins',)
('Mason Shaw',)
('Matthew Jones',)
('Megan Woodard',)
('Melissa Wise',)
('Michael Dixon',)
('Michele Grant',)
('Michele Snyder',)
('Michelle Floyd',)
('Miss Lindsey Campbell',)
('Mitchell Farrell',)
('Mitchell King',)
('Mr. Danny Rhodes',)
('Mrs. Tammy Elliott',)
('Nathan Oconnor',)
('Nicholas Taylor',)
('Nicole Owens PhD',)
('Randall Baker',)
('Rebecca Johnson',)
('Regina Rodriguez',)
('Reginald Davies',)
('Robert Duran',)
('Ruth Burnett',)
('Sandra Heath',)
('Sarah Cunningham',)
('Shannon Doyle',)
('Sherry Lopez',)
('Stephanie Gardner',)
('Stephanie Peterson',)
('Stephanie Ramsey',)
('Stephanie Roberts',)
('Steve Thomas',)
('Sylvia Kelly',)
('Tara Avila DDS',)
('Taylor Becker',)
('Techsunami',)
('Tristan Logan',)
('Vanessa Wilkinson',)
('Vincent White MD',)
('Wendy Baker',)
('Wendy Chandler',)
('William Coleman',)

In [55]:
get_query()[-1]

{'sql': 'SELECT "author_model"."name" AS "col1" FROM "author_model" UNION SELECT "author_model"."age" AS "col1" FROM "author_model"',
 'time': '0.001'}

<a id="3.j"></a>
### intersection

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#intersection

In [56]:
qs1 = Author.objects.filter(Q(age__lt = 20) & Q(age__gt = 10)).values_list("age", flat=True)

In [57]:
qs2 = Author.objects.filter(Q(age__lt = 15) & Q(age__gt = 5)).values_list("age", flat=True)

In [58]:
qs1

In [59]:
qs2

In [60]:
qs1.intersection(qs2)

In [ ]:
get_query()[-1]

<a id="3.k"></a>
### difference

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#difference

In [66]:
qs1 = Author.objects.filter(Q(age__lt = 20) & Q(age__gt = 10)).values_list("age", flat=True)

In [67]:
qs2 = Author.objects.filter(Q(age__lt = 15) & Q(age__gt = 5)).values_list("age", flat=True)

In [68]:
qs1

In [69]:
qs2

In [70]:
qs2.difference(qs1)

In [71]:
get_query()[-1]

{'sql': 'SELECT "author_model"."age" AS "col1" FROM "author_model" WHERE ("author_model"."age" < 15 AND "author_model"."age" > 5) EXCEPT SELECT "author_model"."age" AS "col1" FROM "author_model" WHERE ("author_model"."age" < 20 AND "author_model"."age" > 10) LIMIT 21',
 'time': '0.000'}

<a id="3.l"></a>
### Only

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#only

In [72]:
objs = Author.objects.only("name")

In [73]:
for obj in objs[:10]:
    print(obj.__dict__)

{'_state': <django.db.models.base.ModelState object at 0x1080d39a0>, 'id': 1, 'name': 'Kathleen Hess'}
{'_state': <django.db.models.base.ModelState object at 0x1080827a0>, 'id': 2, 'name': 'Heidi Davis'}
{'_state': <django.db.models.base.ModelState object at 0x108082230>, 'id': 3, 'name': 'Bryan Conner'}
{'_state': <django.db.models.base.ModelState object at 0x108083f10>, 'id': 4, 'name': 'Eric Logan'}
{'_state': <django.db.models.base.ModelState object at 0x108081750>, 'id': 5, 'name': 'Sarah Cunningham'}
{'_state': <django.db.models.base.ModelState object at 0x1081205e0>, 'id': 6, 'name': 'Mrs. Tammy Elliott'}
{'_state': <django.db.models.base.ModelState object at 0x108120b50>, 'id': 7, 'name': 'Stephanie Gardner'}
{'_state': <django.db.models.base.ModelState object at 0x108120b80>, 'id': 8, 'name': 'Hector Johnson'}
{'_state': <django.db.models.base.ModelState object at 0x108120370>, 'id': 9, 'name': 'Katherine Payne'}
{'_state': <django.db.models.base.ModelState object at 0x108120910>, 'id': 10, 'name': 'Carlos Wolfe'}

In [74]:
get_query()[-1]

{'sql': 'SELECT "author_model"."id", "author_model"."name" FROM "author_model" LIMIT 10',
 'time': '0.001'}

<a id="3.m"></a>
### defer

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#defer

In [75]:
objs = Author.objects.defer("name")

In [76]:
for obj in objs[:10]:
    print(obj.__dict__)

{'_state': <django.db.models.base.ModelState object at 0x1081202e0>, 'id': 1, 'email': None, 'age': 114, 'creation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208582, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 8, 16, 43, 0, 198996, tzinfo=datetime.timezone.utc)}
{'_state': <django.db.models.base.ModelState object at 0x108120a30>, 'id': 2, 'email': None, 'age': 36, 'creation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208636, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208647, tzinfo=datetime.timezone.utc)}
{'_state': <django.db.models.base.ModelState object at 0x1081207f0>, 'id': 3, 'email': None, 'age': 11, 'creation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208662, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208671, tzinfo=datetime.timezone.utc)}
{'_state': <django.db.models.base.ModelState object at 0x108120490>, 'id': 4, 'email': None, 'age': 15, 'creation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208686, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208695, tzinfo=datetime.timezone.utc)}
{'_state': <django.db.models.base.ModelState object at 0x108120c40>, 'id': 5, 'email': None, 'age': 100, 'creation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208710, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208718, tzinfo=datetime.timezone.utc)}
{'_state': <django.db.models.base.ModelState object at 0x108120d00>, 'id': 6, 'email': None, 'age': 21, 'creation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208732, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208740, tzinfo=datetime.timezone.utc)}
{'_state': <django.db.models.base.ModelState object at 0x108120dc0>, 'id': 7, 'email': None, 'age': 33, 'creation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208754, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208763, tzinfo=datetime.timezone.utc)}
{'_state': <django.db.models.base.ModelState object at 0x108120e80>, 'id': 8, 'email': None, 'age': 19, 'creation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208777, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208785, tzinfo=datetime.timezone.utc)}
{'_state': <django.db.models.base.ModelState object at 0x108120f40>, 'id': 9, 'email': None, 'age': 33, 'creation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208799, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208807, tzinfo=datetime.timezone.utc)}
{'_state': <django.db.models.base.ModelState object at 0x108121000>, 'id': 10, 'email': None, 'age': 72, 'creation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208821, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 8, 14, 45, 45, 208866, tzinfo=datetime.timezone.utc)}

In [77]:
get_query()[-1]

{'sql': 'SELECT "author_model"."id", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date" FROM "author_model" LIMIT 10',
 'time': '0.001'}

<a id="3.o"></a>
### raw

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#raw

In [78]:
objs = Author.objects.raw("SELECT * FROM AUTHOR_MODEL")

In [79]:
for obj in objs[:10]:
    print(obj.name, obj.age)

Kathleen Hess 114
Heidi Davis 36
Bryan Conner 11
Eric Logan 15
Sarah Cunningham 100
Mrs. Tammy Elliott 21
Stephanie Gardner 33
Hector Johnson 19
Katherine Payne 33
Carlos Wolfe 72

In [80]:
get_query()[-1]

{'sql': 'SELECT * FROM AUTHOR_MODEL', 'time': '0.001'}

## Hey.... If You are liked the content Do subscribe to my Youtube Channel
https://www.youtube.com/channel/UCpuKtSx_Cu8_ikyhlKAWBYA?sub_confirmation=1

<b>Also You can connect with me on Linkedin</b> - https://www.linkedin.com/in/lakshit-ukani/