In [81]:
# How to Run Django in Jupyter Notebook
# Add video link here

In [82]:
import os
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
from django.db import connection
from django.db import reset_queries
from django.db import models
from django_orm_app.models import Author, Blog
from faker import Faker 
import random

In [85]:
Blog.objects.count()

30000

In [86]:
# fake = Faker()
# range_of_author_id = 100

In [87]:
# lst_author = []
# for _ in range(range_of_author_id):
#     lst_author.append(
#         Author(
#             name=fake.name(), 
#             age=random.randint(1,100)
#         )
#     )

In [88]:
# objs_author = Author.objects.bulk_create(lst_author)

In [89]:
# lst_blog = []
# for _ in range(10000):
#     lst_blog.append(
#         Blog(
#             name=fake.sentence(), 
#             tagline= fake.paragraph(), 
#             author_id=random.randint(1, 100)
#         )
#     )

In [90]:
# objs_blog = Blog.objects.bulk_create(lst_blog)

## Table of Content
1. [Method that return new Queryset](#3)
    1. [filter](#3.a) 
    2. [exclude](#3.b) 
    3. [annotate ](#3.c) 
    4. [order_by](#3.d) 
    5. [distinct](#3.e) 
    6. [values](#3.f) 
    7. [values_list](#3.g) 
    8. [all](#3.h) 
    9. [union](#3.i) 
    10. [intersection](#3.j) 
    11. [difference](#3.k) 
    12. [defer](#3.l)
    13. [only](#3.m)
    14. [select_for_update](#3.n)
    15. [raw](#3.o)

In [17]:
def get_query():
    return connection.queries

<a id="3"></a>
## Method that return new Queryset
Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#methods-that-return-new-querysets

<a id="3.a"></a>
### filter

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#filter <br>
All Field Lookup Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#field-lookups

In [20]:
objs = Author.objects.filter(age__gt = 90)

In [21]:
for obj in objs:
    print(obj.name, obj.age)

print(f"Query made is {get_query()[-1]}")

Justin Johnston 96
Robert Lopez 91
Marcus Lee 97
Debbie Garcia 92
Justin Taylor 96
Kelsey Boyer 96
Taylor Dorsey 100
Jacob Jones 95
Karen Harvey 97
Nancy Nelson 100
Tiffany Jones 92
Tracy Beck 98
Joshua Evans 91
Kristina Knapp 93
Todd Patrick 100
Kathryn Perez 99
Query made is {'sql': 'SELECT "author_model"."id", "author_model"."name", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date" FROM "author_model" WHERE "author_model"."age" > 90', 'time': '0.001'}

In [22]:
from django.db.models import Q
objs = Author.objects.filter(Q(name__icontains = "Sarah") | Q(age__gt = 90))

In [23]:
for obj in objs:
    print(obj.name, obj.age)

Justin Johnston 96
Robert Lopez 91
Marcus Lee 97
Debbie Garcia 92
Justin Taylor 96
Kelsey Boyer 96
Taylor Dorsey 100
Jacob Jones 95
Karen Harvey 97
Nancy Nelson 100
Tiffany Jones 92
Tracy Beck 98
Joshua Evans 91
Kristina Knapp 93
Todd Patrick 100
Kathryn Perez 99

In [24]:
print(f"Query made is {get_query()[-1]}")

Query made is {'sql': 'SELECT "author_model"."id", "author_model"."name", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date" FROM "author_model" WHERE ("author_model"."name" LIKE \'%Sarah%\' ESCAPE \'\\\' OR "author_model"."age" > 90)', 'time': '0.000'}

In [229]:
#Chaining of Filter
Blog.objects.filter(name__contains="dog").filter(author__age__lt = 50)

<QuerySet [<Blog: So side then save bank though dog.>, <Blog: White heavy dog attention.>, <Blog: Decide TV heart dog war plant including miss.>, <Blog: During season dog anything impact lot.>, <Blog: Professional off lay dog five husband.>, <Blog: Hair edge or PM dog live prevent focus.>, <Blog: However certain dog kind.>, <Blog: Risk rate dog eight hotel share tend.>, <Blog: Wish dog him affect across affect edge.>, <Blog: And example but wife word dog.>, <Blog: On dog season detail.>, <Blog: Spend itself dog soon approach big.>, <Blog: Scene political dog natural.>, <Blog: Store reflect machine modern buy dog.>, <Blog: Tonight dog majority sea style organization wish.>, <Blog: It learn dog require attack movement.>, <Blog: Manager control dog.>, <Blog: Usually science truth hour dog.>, <Blog: Point dog story week better politics threat property.>, <Blog: Far skill dog trouble case this.>, '...(remaining elements truncated)...']>

In [230]:
get_query()[-1]

{'sql': 'SELECT "blog_model"."id", "blog_model"."name", "blog_model"."author_id", "blog_model"."tagline", "blog_model"."creation_date", "blog_model"."updation_date" FROM "blog_model" INNER JOIN "author_model" ON ("blog_model"."author_id" = "author_model"."id") WHERE ("blog_model"."name" LIKE \'%dog%\' ESCAPE \'\\\' AND "author_model"."age" < 50) LIMIT 21',
 'time': '0.000'}

<a id="3.b"></a>
### exclude

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#exclude

In [25]:
objs = Author.objects.exclude(age__lt = 90)

In [26]:
for obj in objs:
    print(obj.name, obj.age)

Justin Johnston 96
Robert Lopez 91
Marcus Lee 97
Debbie Garcia 92
Justin Taylor 96
Kelsey Boyer 96
Taylor Dorsey 100
Jacob Jones 95
Karen Harvey 97
Nancy Nelson 100
Tiffany Jones 92
Tracy Beck 98
Joshua Evans 91
Jack Wilson 90
Kristina Knapp 93
Todd Patrick 100
Kathryn Perez 99

In [27]:
print(f"Query made is {get_query()[-1]}")

Query made is {'sql': 'SELECT "author_model"."id", "author_model"."name", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date" FROM "author_model" WHERE NOT ("author_model"."age" < 90 AND "author_model"."age" IS NOT NULL)', 'time': '0.000'}

<a id="3.c"></a>
### annotate method
Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#update-or-create

In [33]:
from django.db.models import Count, Avg
objs = Author.objects.annotate(age_less_than_25 = Q(age__lt = 25))

In [34]:
for obj in objs:
    print(f"{obj.name} -- {obj.age_less_than_25} -- {obj.age}")

Justin Johnston -- False -- 96
Mark Berry -- False -- 80
Heather Friedman -- False -- 89
Amy White -- False -- 59
Timothy Cameron -- False -- 65
Debra Gray -- False -- 89
Drew Sweeney -- True -- 2
Tina Valdez -- False -- 48
Brandon Barker -- True -- 19
Robert Lopez -- False -- 91
Marcus Lee -- False -- 97
Julie Carter -- False -- 50
Lori Oconnor -- False -- 51
Debbie Garcia -- False -- 92
Benjamin Harris -- True -- 14
Michael Montes -- False -- 32
Richard Price -- False -- 34
James Gomez -- True -- 18
Justin Taylor -- False -- 96
Kelsey Boyer -- False -- 96
Joseph Roberts -- False -- 69
Christopher Hernandez -- False -- 81
Dustin Schroeder -- False -- 47
Logan Chang -- False -- 48
Taylor Dorsey -- False -- 100
Stephanie Brewer -- False -- 33
Anthony Brown -- False -- 62
Breanna Camacho -- False -- 79
Jeffrey Powers -- False -- 85
Jennifer Ball -- True -- 23
Rachel Smith -- True -- 2
Peter Byrd -- True -- 8
Stephanie Barr -- True -- 24
Jacob Jones -- False -- 95
Timothy Morgan -- False -- 69
Colton Smith -- False -- 45
Kyle Taylor III -- True -- 9
James Brown -- True -- 11
Joan Martinez -- False -- 83
Karen Harvey -- False -- 97
Miguel Cruz -- True -- 20
Steven Stewart -- False -- 33
Katherine Bennett -- False -- 80
Nancy Nelson -- False -- 100
Whitney Miller -- True -- 21
Paul Wagner -- False -- 68
Clayton Taylor -- False -- 80
Tiffany Jones -- False -- 92
Marcus Diaz -- False -- 49
Amy Cruz -- False -- 67
Tracy Beck -- False -- 98
Daniel Villegas -- True -- 7
Debbie Mckee -- True -- 16
Joshua Evans -- False -- 91
Tina Jackson -- False -- 39
Nicholas Hall -- False -- 89
Spencer Hayes -- False -- 59
Alicia Nichols -- False -- 29
Vicki Griffin -- False -- 45
Lindsay Mayer -- True -- 20
Dakota Lee -- False -- 26
Jack Wilson -- False -- 90
Miranda Massey -- False -- 80
William Mckinney -- False -- 77
Crystal Jenkins -- False -- 68
Sherri Li -- True -- 21
Adriana Clark -- True -- 3
Benjamin Hamilton -- False -- 28
Sydney Gallagher -- False -- 89
Cindy Murphy -- False -- 37
Colleen Cochran -- True -- 8
Angela Webb -- True -- 1
Tracy Howard -- False -- 38
Aaron Parker -- False -- 57
Jeffrey Delgado -- False -- 80
Connie Mathews -- False -- 47
Gary Turner -- False -- 62
Haley Goodwin -- False -- 41
Christopher Campbell -- True -- 23
Ralph Martinez -- False -- 51
Sheryl Moss -- True -- 3
Tina Brewer -- False -- 83
Kimberly Thomas -- False -- 36
Tracy Martinez -- True -- 22
Kristina Knapp -- False -- 93
Jordan Williams -- False -- 46
Christopher Murphy -- False -- 77
Patrick Olson -- False -- 76
Tonya Gallegos -- False -- 88
Danny Sherman -- False -- 50
Rachel White -- True -- 12
Brianna Smith -- False -- 81
Stephanie Mitchell -- False -- 60
Pamela Carroll -- True -- 5
Todd Patrick -- False -- 100
Mark George -- False -- 52
Kathryn Perez -- False -- 99
Samuel Jones -- False -- 47
Reginald Williamson -- False -- 57
Jennifer Harris -- True -- 18

In [35]:
get_query()[-1]

{'sql': 'SELECT "author_model"."id", "author_model"."name", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date", "author_model"."age" < 25 AS "age_less_than_25" FROM "author_model"',
 'time': '0.000'}

<a id="3.d"></a>
### order_by

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#order-by

In [47]:
objs = Author.objects.order_by("-age")

In [48]:
for obj in objs:
    print(obj.name, obj.age)

Taylor Dorsey 100
Nancy Nelson 100
Todd Patrick 100
Kathryn Perez 99
Tracy Beck 98
Marcus Lee 97
Karen Harvey 97
Justin Johnston 96
Justin Taylor 96
Kelsey Boyer 96
Jacob Jones 95
Kristina Knapp 93
Debbie Garcia 92
Tiffany Jones 92
Robert Lopez 91
Joshua Evans 91
Jack Wilson 90
Heather Friedman 89
Debra Gray 89
Nicholas Hall 89
Sydney Gallagher 89
Tonya Gallegos 88
Jeffrey Powers 85
Joan Martinez 83
Tina Brewer 83
Christopher Hernandez 81
Brianna Smith 81
Mark Berry 80
Katherine Bennett 80
Clayton Taylor 80
Miranda Massey 80
Jeffrey Delgado 80
Breanna Camacho 79
William Mckinney 77
Christopher Murphy 77
Patrick Olson 76
Joseph Roberts 69
Timothy Morgan 69
Paul Wagner 68
Crystal Jenkins 68
Amy Cruz 67
Timothy Cameron 65
Anthony Brown 62
Gary Turner 62
Stephanie Mitchell 60
Amy White 59
Spencer Hayes 59
Aaron Parker 57
Reginald Williamson 57
Mark George 52
Lori Oconnor 51
Ralph Martinez 51
Julie Carter 50
Danny Sherman 50
Marcus Diaz 49
Tina Valdez 48
Logan Chang 48
Dustin Schroeder 47
Connie Mathews 47
Samuel Jones 47
Jordan Williams 46
Colton Smith 45
Vicki Griffin 45
Haley Goodwin 41
Tina Jackson 39
Tracy Howard 38
Cindy Murphy 37
Kimberly Thomas 36
Richard Price 34
Stephanie Brewer 33
Steven Stewart 33
Michael Montes 32
Alicia Nichols 29
Benjamin Hamilton 28
Dakota Lee 26
Stephanie Barr 24
Jennifer Ball 23
Christopher Campbell 23
Tracy Martinez 22
Whitney Miller 21
Sherri Li 21
Miguel Cruz 20
Lindsay Mayer 20
Brandon Barker 19
James Gomez 18
Jennifer Harris 18
Debbie Mckee 16
Benjamin Harris 14
Rachel White 12
James Brown 11
Kyle Taylor III 9
Peter Byrd 8
Colleen Cochran 8
Daniel Villegas 7
Pamela Carroll 5
Adriana Clark 3
Sheryl Moss 3
Drew Sweeney 2
Rachel Smith 2
Angela Webb 1

In [49]:
get_query()[-1]

{'sql': 'SELECT "author_model"."id", "author_model"."name", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date" FROM "author_model" ORDER BY "author_model"."age" DESC',
 'time': '0.000'}

<a id="3.e"></a>
### distinct

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#distinct

In [107]:
# It remove duplicate row from database
objs = Author.objects.distinct()

In [108]:
for obj in objs[:20]:
    print(obj.name, obj.age)

Justin Johnston 96
Mark Berry 80
Heather Friedman 89
Amy White 59
Timothy Cameron 65
Debra Gray 89
Drew Sweeney 2
Tina Valdez 48
Brandon Barker 19
Robert Lopez 91
Marcus Lee 97
Julie Carter 50
Lori Oconnor 51
Debbie Garcia 92
Benjamin Harris 14
Michael Montes 32
Richard Price 34
James Gomez 18
Justin Taylor 96
Kelsey Boyer 96

In [109]:
get_query()[-1]

{'sql': 'SELECT DISTINCT "author_model"."id", "author_model"."name", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date" FROM "author_model" LIMIT 20',
 'time': '0.001'}

<a id="3.f"></a>
### values

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#values

In [110]:
Author.objects.values()

<QuerySet [{'id': 1, 'name': 'Justin Johnston', 'email': None, 'age': 96, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858228, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858280, tzinfo=datetime.timezone.utc)}, {'id': 2, 'name': 'Mark Berry', 'email': None, 'age': 80, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858308, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858323, tzinfo=datetime.timezone.utc)}, {'id': 3, 'name': 'Heather Friedman', 'email': None, 'age': 89, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858347, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858360, tzinfo=datetime.timezone.utc)}, {'id': 4, 'name': 'Amy White', 'email': None, 'age': 59, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858388, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858403, tzinfo=datetime.timezone.utc)}, {'id': 5, 'name': 'Timothy Cameron', 'email': None, 'age': 65, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858426, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858440, tzinfo=datetime.timezone.utc)}, {'id': 6, 'name': 'Debra Gray', 'email': None, 'age': 89, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858463, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858477, tzinfo=datetime.timezone.utc)}, {'id': 7, 'name': 'Drew Sweeney', 'email': None, 'age': 2, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858499, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858513, tzinfo=datetime.timezone.utc)}, {'id': 8, 'name': 'Tina Valdez', 'email': None, 'age': 48, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858535, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858548, tzinfo=datetime.timezone.utc)}, {'id': 9, 'name': 'Brandon Barker', 'email': None, 'age': 19, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858570, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858583, tzinfo=datetime.timezone.utc)}, {'id': 10, 'name': 'Robert Lopez', 'email': None, 'age': 91, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858606, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858619, tzinfo=datetime.timezone.utc)}, {'id': 11, 'name': 'Marcus Lee', 'email': None, 'age': 97, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858641, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858653, tzinfo=datetime.timezone.utc)}, {'id': 12, 'name': 'Julie Carter', 'email': None, 'age': 50, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858677, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858690, tzinfo=datetime.timezone.utc)}, {'id': 13, 'name': 'Lori Oconnor', 'email': None, 'age': 51, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858713, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858725, tzinfo=datetime.timezone.utc)}, {'id': 14, 'name': 'Debbie Garcia', 'email': None, 'age': 92, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858748, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858760, tzinfo=datetime.timezone.utc)}, {'id': 15, 'name': 'Benjamin Harris', 'email': None, 'age': 14, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858783, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858796, tzinfo=datetime.timezone.utc)}, {'id': 16, 'name': 'Michael Montes', 'email': None, 'age': 32, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858819, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858832, tzinfo=datetime.timezone.utc)}, {'id': 17, 'name': 'Richard Price', 'email': None, 'age': 34, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858854, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858867, tzinfo=datetime.timezone.utc)}, {'id': 18, 'name': 'James Gomez', 'email': None, 'age': 18, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858889, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858903, tzinfo=datetime.timezone.utc)}, {'id': 19, 'name': 'Justin Taylor', 'email': None, 'age': 96, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858925, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858938, tzinfo=datetime.timezone.utc)}, {'id': 20, 'name': 'Kelsey Boyer', 'email': None, 'age': 96, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858961, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858974, tzinfo=datetime.timezone.utc)}, '...(remaining elements truncated)...']>

In [113]:
print(f"query is {get_query()[-1]}")

query is {'sql': 'SELECT "author_model"."id", "author_model"."name", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date" FROM "author_model" LIMIT 21', 'time': '0.001'}

In [114]:
Author.objects.values("name")

<QuerySet [{'name': 'Justin Johnston'}, {'name': 'Mark Berry'}, {'name': 'Heather Friedman'}, {'name': 'Amy White'}, {'name': 'Timothy Cameron'}, {'name': 'Debra Gray'}, {'name': 'Drew Sweeney'}, {'name': 'Tina Valdez'}, {'name': 'Brandon Barker'}, {'name': 'Robert Lopez'}, {'name': 'Marcus Lee'}, {'name': 'Julie Carter'}, {'name': 'Lori Oconnor'}, {'name': 'Debbie Garcia'}, {'name': 'Benjamin Harris'}, {'name': 'Michael Montes'}, {'name': 'Richard Price'}, {'name': 'James Gomez'}, {'name': 'Justin Taylor'}, {'name': 'Kelsey Boyer'}, '...(remaining elements truncated)...']>

In [115]:
print(f"query is {get_query()[-1]}")

query is {'sql': 'SELECT "author_model"."name" FROM "author_model" LIMIT 21', 'time': '0.001'}

<a id="3.g"></a>
### values_list

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#values_list

In [119]:
Author.objects.values_list()

<QuerySet [(1, 'Justin Johnston', None, 96, datetime.datetime(2023, 7, 2, 19, 13, 55, 858228, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 2, 19, 13, 55, 858280, tzinfo=datetime.timezone.utc)), (2, 'Mark Berry', None, 80, datetime.datetime(2023, 7, 2, 19, 13, 55, 858308, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 2, 19, 13, 55, 858323, tzinfo=datetime.timezone.utc)), (3, 'Heather Friedman', None, 89, datetime.datetime(2023, 7, 2, 19, 13, 55, 858347, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 2, 19, 13, 55, 858360, tzinfo=datetime.timezone.utc)), (4, 'Amy White', None, 59, datetime.datetime(2023, 7, 2, 19, 13, 55, 858388, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 2, 19, 13, 55, 858403, tzinfo=datetime.timezone.utc)), (5, 'Timothy Cameron', None, 65, datetime.datetime(2023, 7, 2, 19, 13, 55, 858426, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 2, 19, 13, 55, 858440, tzinfo=datetime.timezone.utc)), (6, 'Debra Gray', None, 89, datetime.datetime(2023, 7, 2, 19, 13, 55, 858463, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 2, 19, 13, 55, 858477, tzinfo=datetime.timezone.utc)), (7, 'Drew Sweeney', None, 2, datetime.datetime(2023, 7, 2, 19, 13, 55, 858499, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 2, 19, 13, 55, 858513, tzinfo=datetime.timezone.utc)), (8, 'Tina Valdez', None, 48, datetime.datetime(2023, 7, 2, 19, 13, 55, 858535, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 2, 19, 13, 55, 858548, tzinfo=datetime.timezone.utc)), (9, 'Brandon Barker', None, 19, datetime.datetime(2023, 7, 2, 19, 13, 55, 858570, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 2, 19, 13, 55, 858583, tzinfo=datetime.timezone.utc)), (10, 'Robert Lopez', None, 91, datetime.datetime(2023, 7, 2, 19, 13, 55, 858606, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 2, 19, 13, 55, 858619, tzinfo=datetime.timezone.utc)), (11, 'Marcus Lee', None, 97, datetime.datetime(2023, 7, 2, 19, 13, 55, 858641, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 2, 19, 13, 55, 858653, tzinfo=datetime.timezone.utc)), (12, 'Julie Carter', None, 50, datetime.datetime(2023, 7, 2, 19, 13, 55, 858677, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 2, 19, 13, 55, 858690, tzinfo=datetime.timezone.utc)), (13, 'Lori Oconnor', None, 51, datetime.datetime(2023, 7, 2, 19, 13, 55, 858713, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 2, 19, 13, 55, 858725, tzinfo=datetime.timezone.utc)), (14, 'Debbie Garcia', None, 92, datetime.datetime(2023, 7, 2, 19, 13, 55, 858748, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 2, 19, 13, 55, 858760, tzinfo=datetime.timezone.utc)), (15, 'Benjamin Harris', None, 14, datetime.datetime(2023, 7, 2, 19, 13, 55, 858783, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 2, 19, 13, 55, 858796, tzinfo=datetime.timezone.utc)), (16, 'Michael Montes', None, 32, datetime.datetime(2023, 7, 2, 19, 13, 55, 858819, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 2, 19, 13, 55, 858832, tzinfo=datetime.timezone.utc)), (17, 'Richard Price', None, 34, datetime.datetime(2023, 7, 2, 19, 13, 55, 858854, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 2, 19, 13, 55, 858867, tzinfo=datetime.timezone.utc)), (18, 'James Gomez', None, 18, datetime.datetime(2023, 7, 2, 19, 13, 55, 858889, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 2, 19, 13, 55, 858903, tzinfo=datetime.timezone.utc)), (19, 'Justin Taylor', None, 96, datetime.datetime(2023, 7, 2, 19, 13, 55, 858925, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 2, 19, 13, 55, 858938, tzinfo=datetime.timezone.utc)), (20, 'Kelsey Boyer', None, 96, datetime.datetime(2023, 7, 2, 19, 13, 55, 858961, tzinfo=datetime.timezone.utc), datetime.datetime(2023, 7, 2, 19, 13, 55, 858974, tzinfo=datetime.timezone.utc)), '...(remaining elements truncated)...']>

In [120]:
print(f"query is {get_query()[-1]}")

query is {'sql': 'SELECT "author_model"."id", "author_model"."name", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date" FROM "author_model" LIMIT 21', 'time': '0.000'}

In [121]:
Author.objects.values_list("name")

<QuerySet [('Justin Johnston',), ('Mark Berry',), ('Heather Friedman',), ('Amy White',), ('Timothy Cameron',), ('Debra Gray',), ('Drew Sweeney',), ('Tina Valdez',), ('Brandon Barker',), ('Robert Lopez',), ('Marcus Lee',), ('Julie Carter',), ('Lori Oconnor',), ('Debbie Garcia',), ('Benjamin Harris',), ('Michael Montes',), ('Richard Price',), ('James Gomez',), ('Justin Taylor',), ('Kelsey Boyer',), '...(remaining elements truncated)...']>

In [124]:
print(f"query is {get_query()[-1]}")

query is {'sql': 'SELECT "author_model"."name" FROM "author_model" LIMIT 21', 'time': '0.000'}

In [123]:
Author.objects.values_list("name", flat=True)

<QuerySet ['Justin Johnston', 'Mark Berry', 'Heather Friedman', 'Amy White', 'Timothy Cameron', 'Debra Gray', 'Drew Sweeney', 'Tina Valdez', 'Brandon Barker', 'Robert Lopez', 'Marcus Lee', 'Julie Carter', 'Lori Oconnor', 'Debbie Garcia', 'Benjamin Harris', 'Michael Montes', 'Richard Price', 'James Gomez', 'Justin Taylor', 'Kelsey Boyer', '...(remaining elements truncated)...']>

<a id="3.h"></a>
### all

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#all

In [125]:
Author.objects.all()

<QuerySet [<Author: Justin Johnston>, <Author: Mark Berry>, <Author: Heather Friedman>, <Author: Amy White>, <Author: Timothy Cameron>, <Author: Debra Gray>, <Author: Drew Sweeney>, <Author: Tina Valdez>, <Author: Brandon Barker>, <Author: Robert Lopez>, <Author: Marcus Lee>, <Author: Julie Carter>, <Author: Lori Oconnor>, <Author: Debbie Garcia>, <Author: Benjamin Harris>, <Author: Michael Montes>, <Author: Richard Price>, <Author: James Gomez>, <Author: Justin Taylor>, <Author: Kelsey Boyer>, '...(remaining elements truncated)...']>

In [126]:
print(f"query is {get_query()[-1]}")

query is {'sql': 'SELECT "author_model"."id", "author_model"."name", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date" FROM "author_model" LIMIT 21', 'time': '0.001'}

<a id="3.i"></a>
### union

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#union

In [139]:
qs1 = Author.objects.values_list("name")
qs2 = Author.objects.values_list("age")

In [144]:
qs1

<QuerySet [('Justin Johnston',), ('Mark Berry',), ('Heather Friedman',), ('Amy White',), ('Timothy Cameron',), ('Debra Gray',), ('Drew Sweeney',), ('Tina Valdez',), ('Brandon Barker',), ('Robert Lopez',), ('Marcus Lee',), ('Julie Carter',), ('Lori Oconnor',), ('Debbie Garcia',), ('Benjamin Harris',), ('Michael Montes',), ('Richard Price',), ('James Gomez',), ('Justin Taylor',), ('Kelsey Boyer',), '...(remaining elements truncated)...']>

In [145]:
qs2

In [143]:
for obj in qs1.union(qs2):
    print(obj)

(1,)
(2,)
(3,)
(5,)
(7,)
(8,)
(9,)
(11,)
(12,)
(14,)
(16,)
(18,)
(19,)
(20,)
(21,)
(22,)
(23,)
(24,)
(26,)
(28,)
(29,)
(32,)
(33,)
(34,)
(36,)
(37,)
(38,)
(39,)
(41,)
(45,)
(46,)
(47,)
(48,)
(49,)
(50,)
(51,)
(52,)
(57,)
(59,)
(60,)
(62,)
(65,)
(67,)
(68,)
(69,)
(76,)
(77,)
(79,)
(80,)
(81,)
(83,)
(85,)
(88,)
(89,)
(90,)
(91,)
(92,)
(93,)
(95,)
(96,)
(97,)
(98,)
(99,)
(100,)
('Aaron Parker',)
('Adriana Clark',)
('Alicia Nichols',)
('Amy Cruz',)
('Amy White',)
('Angela Webb',)
('Anthony Brown',)
('Benjamin Hamilton',)
('Benjamin Harris',)
('Brandon Barker',)
('Breanna Camacho',)
('Brianna Smith',)
('Christopher Campbell',)
('Christopher Hernandez',)
('Christopher Murphy',)
('Cindy Murphy',)
('Clayton Taylor',)
('Colleen Cochran',)
('Colton Smith',)
('Connie Mathews',)
('Crystal Jenkins',)
('Dakota Lee',)
('Daniel Villegas',)
('Danny Sherman',)
('Debbie Garcia',)
('Debbie Mckee',)
('Debra Gray',)
('Drew Sweeney',)
('Dustin Schroeder',)
('Gary Turner',)
('Haley Goodwin',)
('Heather Friedman',)
('Jack Wilson',)
('Jacob Jones',)
('James Brown',)
('James Gomez',)
('Jeffrey Delgado',)
('Jeffrey Powers',)
('Jennifer Ball',)
('Jennifer Harris',)
('Joan Martinez',)
('Jordan Williams',)
('Joseph Roberts',)
('Joshua Evans',)
('Julie Carter',)
('Justin Johnston',)
('Justin Taylor',)
('Karen Harvey',)
('Katherine Bennett',)
('Kathryn Perez',)
('Kelsey Boyer',)
('Kimberly Thomas',)
('Kristina Knapp',)
('Kyle Taylor III',)
('Lindsay Mayer',)
('Logan Chang',)
('Lori Oconnor',)
('Marcus Diaz',)
('Marcus Lee',)
('Mark Berry',)
('Mark George',)
('Michael Montes',)
('Miguel Cruz',)
('Miranda Massey',)
('Nancy Nelson',)
('Nicholas Hall',)
('Pamela Carroll',)
('Patrick Olson',)
('Paul Wagner',)
('Peter Byrd',)
('Rachel Smith',)
('Rachel White',)
('Ralph Martinez',)
('Reginald Williamson',)
('Richard Price',)
('Robert Lopez',)
('Samuel Jones',)
('Sherri Li',)
('Sheryl Moss',)
('Spencer Hayes',)
('Stephanie Barr',)
('Stephanie Brewer',)
('Stephanie Mitchell',)
('Steven Stewart',)
('Sydney Gallagher',)
('Taylor Dorsey',)
('Tiffany Jones',)
('Timothy Cameron',)
('Timothy Morgan',)
('Tina Brewer',)
('Tina Jackson',)
('Tina Valdez',)
('Todd Patrick',)
('Tonya Gallegos',)
('Tracy Beck',)
('Tracy Howard',)
('Tracy Martinez',)
('Vicki Griffin',)
('Whitney Miller',)
('William Mckinney',)

<a id="3.j"></a>
### intersection

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#intersection

In [174]:
qs1 = Author.objects.filter(Q(age__lt = 20) & Q(age__gt = 10)).values_list("age", flat=True)

In [175]:
qs2 = Author.objects.filter(Q(age__lt = 15) & Q(age__gt = 5)).values_list("age", flat=True)

In [176]:
qs1

In [177]:
qs2

In [192]:
qs1.intersection(qs2)

In [193]:
get_query()[-1]

{'sql': 'SELECT "author_model"."age" AS "col1" FROM "author_model" WHERE ("author_model"."age" < 20 AND "author_model"."age" > 10) INTERSECT SELECT "author_model"."age" AS "col1" FROM "author_model" WHERE ("author_model"."age" < 15 AND "author_model"."age" > 5) LIMIT 21',
 'time': '0.001'}

<a id="3.k"></a>
### difference

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#difference

In [194]:
qs1 = Author.objects.filter(Q(age__lt = 20) & Q(age__gt = 10)).values_list("age", flat=True)

In [195]:
qs2 = Author.objects.filter(Q(age__lt = 15) & Q(age__gt = 5)).values_list("age", flat=True)

In [196]:
qs1

In [197]:
qs2

In [199]:
qs2.difference(qs1)

<a id="3.l"></a>
### defer

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#defer

In [201]:
objs = Author.objects.defer("name")

In [202]:
for obj in objs[:10]:
    print(obj.__dict__)

{'_state': <django.db.models.base.ModelState object at 0x10beb5a50>, 'id': 1, 'email': None, 'age': 96, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858228, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858280, tzinfo=datetime.timezone.utc)}
{'_state': <django.db.models.base.ModelState object at 0x10beb5b40>, 'id': 2, 'email': None, 'age': 80, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858308, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858323, tzinfo=datetime.timezone.utc)}
{'_state': <django.db.models.base.ModelState object at 0x10beb6260>, 'id': 3, 'email': None, 'age': 89, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858347, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858360, tzinfo=datetime.timezone.utc)}
{'_state': <django.db.models.base.ModelState object at 0x10beb5990>, 'id': 4, 'email': None, 'age': 59, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858388, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858403, tzinfo=datetime.timezone.utc)}
{'_state': <django.db.models.base.ModelState object at 0x10beb6410>, 'id': 5, 'email': None, 'age': 65, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858426, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858440, tzinfo=datetime.timezone.utc)}
{'_state': <django.db.models.base.ModelState object at 0x10beb66b0>, 'id': 6, 'email': None, 'age': 89, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858463, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858477, tzinfo=datetime.timezone.utc)}
{'_state': <django.db.models.base.ModelState object at 0x10beb6770>, 'id': 7, 'email': None, 'age': 2, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858499, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858513, tzinfo=datetime.timezone.utc)}
{'_state': <django.db.models.base.ModelState object at 0x10beb6830>, 'id': 8, 'email': None, 'age': 48, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858535, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858548, tzinfo=datetime.timezone.utc)}
{'_state': <django.db.models.base.ModelState object at 0x10beb68f0>, 'id': 9, 'email': None, 'age': 19, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858570, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858583, tzinfo=datetime.timezone.utc)}
{'_state': <django.db.models.base.ModelState object at 0x10beb5690>, 'id': 10, 'email': None, 'age': 91, 'creation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858606, tzinfo=datetime.timezone.utc), 'updation_date': datetime.datetime(2023, 7, 2, 19, 13, 55, 858619, tzinfo=datetime.timezone.utc)}

In [203]:
get_query()[-1]

{'sql': 'SELECT "author_model"."id", "author_model"."email", "author_model"."age", "author_model"."creation_date", "author_model"."updation_date" FROM "author_model" LIMIT 10',
 'time': '0.001'}

<a id="3.m"></a>
### only

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#only

In [212]:
objs = Author.objects.only("name")

In [214]:
for obj in objs[:10]:
    print(obj.__dict__)

{'_state': <django.db.models.base.ModelState object at 0x10bea4a60>, 'id': 1, 'name': 'Justin Johnston'}
{'_state': <django.db.models.base.ModelState object at 0x10bea4940>, 'id': 2, 'name': 'Mark Berry'}
{'_state': <django.db.models.base.ModelState object at 0x10beb6500>, 'id': 3, 'name': 'Heather Friedman'}
{'_state': <django.db.models.base.ModelState object at 0x10beb6a10>, 'id': 4, 'name': 'Amy White'}
{'_state': <django.db.models.base.ModelState object at 0x10beb5990>, 'id': 5, 'name': 'Timothy Cameron'}
{'_state': <django.db.models.base.ModelState object at 0x10beb7130>, 'id': 6, 'name': 'Debra Gray'}
{'_state': <django.db.models.base.ModelState object at 0x10beb6830>, 'id': 7, 'name': 'Drew Sweeney'}
{'_state': <django.db.models.base.ModelState object at 0x10beb5c60>, 'id': 8, 'name': 'Tina Valdez'}
{'_state': <django.db.models.base.ModelState object at 0x10beb4f40>, 'id': 9, 'name': 'Brandon Barker'}
{'_state': <django.db.models.base.ModelState object at 0x10beb59c0>, 'id': 10, 'name': 'Robert Lopez'}

In [215]:
get_query()[-1]

{'sql': 'SELECT "author_model"."id", "author_model"."name" FROM "author_model" LIMIT 10',
 'time': '0.000'}

<a id="3.n"></a>
### select_for_update
<i><b>select_for_update(nowait=False, skip_locked=False, of=(), no_key=False)</b></i>

<pre>When the queryset is evaluated (<b>for entry in entries</b> in this case), all matched entries will be locked until the end of the transaction block, meaning that other transactions will be prevented from changing or acquiring locks on them.

Usually, if another transaction has already acquired a lock on one of the selected rows, the query will block until the lock is released. If this is not the behavior you want, call <b>select_for_update(nowait=True)</b>. This will make the call non-blocking. If a conflicting lock is already acquired by another transaction, <b>DatabaseError</b> will be raised when the queryset is evaluated. You can also ignore locked rows by using <b>select_for_update(skip_locked=True)</b> instead. The nowait and skip_locked are mutually exclusive and attempts to call <b>select_for_update()</b> with both options enabled will result in a <b>ValueError</b>.

By default, <b>select_for_update()</b> locks all rows that are selected by the query. For example, rows of related objects specified in <b>select_related()</b> are locked in addition to rows of the queryset’s model. If this isn’t desired, specify the related objects you want to lock in <b>select_for_update(of=(...))</b> using the same fields syntax as <b>select_related()</b>. Use the value <b>'self'</b> to refer to the queryset’s model.</pre>

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#select-for-update

In [ ]:
from django.db import transaction

entries = Author.objects.select_for_update().filter(age__gt=10)
with transaction.atomic():
    for entry in entries:
        ... #making some changes here to model data

<a id="3.o"></a>
### raw

Django Documentation - https://docs.djangoproject.com/en/4.2/ref/models/querysets/#raw

In [222]:
objs = Author.objects.raw("SELECT * FROM AUTHOR_MODEL")

In [223]:
for obj in objs[:10]:
    print(obj.name, obj.age)

something 96
Mark Berry 80
Heather Friedman 89
Amy White 59
Timothy Cameron 65
Debra Gray 89
Drew Sweeney 2
Tina Valdez 48
Brandon Barker 19
Robert Lopez 91

In [224]:
get_query()[-1]

{'sql': 'SELECT * FROM AUTHOR_MODEL', 'time': '0.001'}

## Hey If You are liked the content Do subscribe to my Youtube Channel
https://www.youtube.com/channel/UCpuKtSx_Cu8_ikyhlKAWBYA?sub_confirmation=1